<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Change Password</h4>
                    </div>
                    <div class="card-body">
                        <ng-template #indicatorTemplate><i nz-icon nzType="loading" class="mt-5" style="font-size: 30px; color: #4CAF50; margin-top: 220px;" nzSpin="true"></i></ng-template>
                        <nz-spin simple [nzIndicator]="indicatorTemplate" [nzSpinning]="isSpinningSubmit">
                            <div class="basic-form">
                                <form [formGroup]="changeForm">
                                    <div class="mb-3">
                                        <p style="font-weight: 600;">Email</p>
                                        <div class="input-group">
                                            <div class="form-file">
                                                <input type="text" formControlName="email" class="form-file-input form-control" placeholder="Enter Email Address">
                                            </div>
                                        </div>
                                        <span class="text-danger valiFontSizes" *ngIf="changeForm.get('email')?.errors && (changeForm.get('email')?.touched || changeForm.get('email')?.dirty)">
                                          <span *ngIf="changeForm.get('email')?.errors?.['required']">Email is required</span>
                                        <span *ngIf="changeForm.get('email')?.errors?.['pattern']">Invalid email address</span>
                                        </span>
                                    </div>
                                    <div class="mb-3">
                                        <p style="font-weight: 600;">Current Password</p>
                                        <div class="input-group">
                                            <div class="form-file">
                                                <input type="password" formControlName="currentPassword" class="form-file-input form-control" placeholder="Enter Current Password">
                                            </div>
                                        </div>
                                        <span class="text-danger valiFontSizes" *ngIf="changeForm.get('currentPassword')?.errors && (changeForm.get('currentPassword')?.touched || changeForm.get('currentPassword')?.dirty)">
                                          <span *ngIf="changeForm.get('currentPassword')?.errors?.['required']">Current Password is required</span>
                                        </span>
                                    </div>
                                    <div class="mb-3">
                                        <p style="font-weight: 600;">New Password</p>
                                        <div class="input-group">
                                            <div class="form-file">
                                                <input type="password" formControlName="newPassword" class="form-file-input form-control" placeholder="Enter New Password">
                                            </div>
                                        </div>
                                        <span class="text-danger valiFontSizes" *ngIf="changeForm.get('newPassword')?.errors && (changeForm.get('newPassword')?.touched || changeForm.get('newPassword')?.dirty)">
                                          <span *ngIf="changeForm.get('newPassword')?.errors?.['required']">Password is required</span>
                                        <span *ngIf="changeForm.get('newPassword')?.errors?.['pattern']">Accept numbers, alphabet and symbol only.</span><br>
                                        <span *ngIf="changeForm.get('newPassword')?.errors?.['minlength']">Minimum of 8 characters only.</span>
                                        </span>
                                    </div>
                                    <div class="mb-3">
                                        <p style="font-weight: 600;">Confirm New Password</p>
                                        <div class="input-group">
                                            <div class="form-file">
                                                <input type="password" formControlName="confirmNewPassword" class="form-file-input form-control" placeholder="Enter Confirm New Password">
                                            </div>
                                        </div>
                                        <span class="text-danger valiFontSizes" *ngIf="changeForm.get('confirmNewPassword')?.errors && (changeForm.get('confirmNewPassword')?.touched || changeForm.get('confirmNewPassword')?.dirty)">
                                          <span *ngIf="changeForm.get('confirmNewPassword')?.errors?.['required']">Confirm Password is required</span>
                                        <span *ngIf="changeForm.get('confirmNewPassword')?.errors?.['confirmedValidator']">Password and Confirm Password must be match.</span>
                                        </span>
                                    </div>
                                </form>
                                <div class="mt-4">
                                    <button class="btn btn-primary w-100" [disabled]="changeForm!.invalid" style="padding: 7px 15px 7px 15px; margin-top: 10px;" (click)="submitPass()">Submit</button>
                                </div>
                            </div>
                        </nz-spin>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>