<div class="vh-100" style="overflow-y: auto;">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <ng-template #indicatorTemplate><i nz-icon nzType="loading" class="mt-5" style="font-size: 30px; color: #4CAF50; padding-top: 90px;" nzSpin="true"></i></ng-template>
                            <nz-spin simple [nzIndicator]="indicatorTemplate" [nzSpinning]="isSpinning">
                                <div class="col-xl-12">
                                    <div class="auth-form">
                                        <div class="text-center mb-5">
                                            <a href="index.html"><img src="assets/images/logologin.png" style="width: 200px; height: 50px;" alt=""></a>
                                        </div>
                                        <!-- <h4 class="text-center mb-4">Sign into your account</h4> -->
                                        <form [formGroup]="resetForm">
                                            <div class="mb-3">
                                                <label class="mb-1"><strong>Password<span style="color: orangered; margin-left: 2px;">*</span></strong></label>
                                                <input type="password" formControlName="newPassword" class="form-control" placeholder="Enter Password">
                                                <span class="text-danger valiFontSizes" *ngIf="resetForm.get('newPassword')?.errors && (resetForm.get('newPassword')?.touched || resetForm.get('newPassword')?.dirty)">
                                                <span *ngIf="resetForm.get('newPassword')?.errors?.['required']">Password is required</span>
                                                <span *ngIf="resetForm.get('newPassword')?.errors?.['pattern']">Accept numbers, alphabet and symbol only.</span><br>
                                                <span *ngIf="resetForm.get('newPassword')?.errors?.['minlength']">Minimum of 8 characters only.</span>
                                                </span>
                                            </div>
                                            <div class="mb-3">
                                                <label class="mb-1"><strong>Confirm Password<span style="color: orangered; margin-left: 2px;">*</span></strong></label>
                                                <input type="password" formControlName="confirmNewPassword" class="form-control" placeholder="Enter Confirm Password">
                                                <span class="text-danger valiFontSizes" *ngIf="resetForm.get('confirmNewPassword')?.errors && (resetForm.get('confirmNewPassword')?.touched || resetForm.get('confirmNewPassword')?.dirty)">
                                                <span *ngIf="resetForm.get('confirmNewPassword')?.errors?.['required']">Confirm Password is required</span>
                                                <span *ngIf="resetForm.get('confirmNewPassword')?.errors?.['confirmedValidator']">Password and Confirm Password must be match.</span>
                                                </span>
                                            </div>
                                            <div class="text-center mt-4">
                                                <button type="submit" [disabled]="resetForm.value.confirmNewPassword === ''" class="btn btn-primary btn-block" (click)="onSubmit()">Reset Password</button>
                                            </div>
                                        </form>
                                        <!-- <div class="new-account mt-3 text-center">
                                            <p>Already have an account? <a class="text-primary" routerLink="/login">Login</a></p>
                                        </div> -->
                                    </div>
                                </div>
                            </nz-spin>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>