<!-- 

<div *ngIf="uploadCard" class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center" >
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Update Means of Identification</h4>
                                    </div>
                                    <div class="card-body">
                                        <ng-template #indicatorTemplate23><i nz-icon nzType="loading" class="mt-5" style="font-size: 30px; color: #4CAF50; margin-top: 20px;" nzSpin="true"></i></ng-template>
                                        <nz-spin simple [nzIndicator]="indicatorTemplate23" [nzSpinning]="isSpinningSubmit">
                                            <div class="basic-form">
                                                <form>
                                                    <div class="mb-3">
                                                        <p style="font-weight: 600;">Upload Means of Id<span style="margin-left: 10px; font-size: 14px !important;"><i class="fa fa-question-circle me-2"></i></span></p>
                                                        <div class="input-group">
                                                            <div class="form-file">
                                                                <input type="file" multiple class="form-file-input form-control" (change)="docUpload($event)" accept=".pdf, .png, .jpg" accept=".pdf, .png, .jpg" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="text-center">
                                                    <button nz-button [nzLoading]="isLoadingTwo" style="
                                                    background-color: #2e8a01;
                                                    border: #2e8a01;
                                                    border-radius: 5rem;
                                                  "
                                                  type="submit" (click)="uploadDocSubmit()" class="btn btn-primary btn-block" >upload</button>
                                                </div>
                                            </div>
                                        </nz-spin>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          
        </div>
    </div>
</div>


<div *ngIf="successShow" class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center" >
    <div class="col-md-5">
        <nz-result
        class="desc" 
        nzStatus="success"
        nzTitle="File Uploaded Successfully!"
      >
        <div nz-result-content>
          <div class="desc">
         
            <ng-container>
              <h4 nz-paragraph style="color: crimson">
                <i nz-icon nzType="close-circle"></i>
              </h4>
            </ng-container>
          </div>
        </div>
      </nz-result>
    </div>
</div>
</div>
</div>
</div> -->
